/* FONTS */
/* latin-ext */
@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(../fonts/quando-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(../fonts/quando.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* COLORS */
$ribbon: #EE8E4A;
$background: #f5f5f5;
$fogSelected: #0e0;
$fogHover: #fff;
$fogSelectedZoom: #9c9;

/* ANIMATIONS */
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes angel {
  from { box-shadow: 0px 0px 0px 0px white; }
  to { box-shadow: 0px 0px 10px 2px white; }
}

@keyframes loading {
  from { text-shadow: white 1px 1px 0px; }
  to { text-shadow: white 1px 1px 10px; }
}

html, body, .screen {
  height: 100%;
}

body {
  font-family: 'Quando', serif;
  background-image: url('../images/main_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.show {
  animation: show 1.0s;
}

.hide {
  display: none !important;
  animation: hideScreen 3.0s
}

.showZoom {
  animation: show 0.5s;
}

.hideZoom {
  display: none !important;
  animation: hideScreen 0.5s
}

#screen-welcome, #screen-loading {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

}

.lights {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
}

.game-button {
  background-image: url('../images/clay_bg.jpg');
  border-radius: 18px/40px;
  box-shadow: 0 0 0 2px #171314, 0 0 0 3px #26714A, -3px 3px 0px 1px #171314;
  color: #212529;
  background-color: #F7F2E8;
}

.angel:hover, angel:active, .angel-always {
  filter: sepia(1);
  animation: angel 0.5s linear 0s infinite alternate forwards running;
}

.loading {
  filter: sepia(1);
  animation: loading 0.5s linear 0s infinite alternate forwards running;
}

.mytooltip:hover .tooltip,
.mytooltip:active .tooltip {
  animation: show 1.0s;
  opacity: 1;
}

#screen-game {

  .logo {
    cursor: pointer;
    height: 40px;
    width: 117px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;

  }

  .btn-primary,.btn-info {
    width: 170px;
  }

  #card-deck {

    .card-disabled {

      filter: grayscale(1) !important;

      .frame-art {
        background-image: url("../images/cards/0.png") !important;
      }

    }

    .card-disabled * {
      cursor: not-allowed !important;
    }

    .card-container {
      border: 1px solid black;
      border-radius: 7.5px;
      background: #171314;
      box-sizing: border-box;
      margin-bottom: 6px;
      margin-right: 3px;
      padding: 2px;
      width: 4em;
      height: 5.6em;

        .card-background {
          background-image: url('../images/green_bg.jpg');
          background-size: cover;
          height: 100%;
          border-radius: 6.5px;
          padding: 0 1px;

            .card-frame {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0.3em 0.9em 0.7em 1em;

              p {
                font-size: 0.8em;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0 !important;
              }

              .frame-button {
                margin-top: 10px;
              }

              .frame-art {
                background-color: black;
                height: 3em;
                width: 3em;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 0 0 0 0px #171314, 0 0 0 1px #000, -2px 2px 1px 1px #171314;
                margin-top: 6px;
                border-radius: 4px;
                filter: brightness(0.8);
              }

            }
        }

    }

    .card-container:hover {
      background-color: white;
      cursor: pointer;

      .frame-art {
        filter: brightness(1.4) !important;
      }

    }

    .card-container.selected {
      border: 1px solid $fogSelected;
      box-shadow: 0px 2px 2px 0px $fogSelected;

      .card-background {
        filter: brightness(2);
      }

      .frame-art {
        filter: brightness(0.65)!important;
      }

    }

  }

  #card-zoom {

    .frame-header, .frame-art, .frame-type-line, .frame-text-box {
        box-shadow: 0 0 0 1px #171314, 0 0 0 2px #26714A;
    }

    .card-container {
      border: 1px solid black;
      border-radius: 25px;
      width: 20em;
      height: 28em;
      box-sizing: border-box;
      background: #171314;
      padding: 1.2em;
      margin-bottom: 6px;
      box-shadow: 0px 0px 7px $fogSelected;

        .card-background {
          height: 100%;
          border-radius: 6.5px;
          background-image: url('../images/green_bg.jpg');
          background-size: cover;
          padding: 3px 6px;

            .card-frame {
              display: flex;
              flex-direction: column;
              height: 100%;

              .frame-header {
                border-radius: 18px/40px;
                background-image: url('../images/clay_bg.jpg');
                padding: 7px 5px 0 8px;
                margin-top: 2px;
                margin-bottom: 2px;

                .name {
                  font-size: 1.3em;
                  font-weight: 600;
                }
              }

              .frame-text-box {
                  background-image: url('../images/clay_bg.jpg');
                  font-size: 0.9em;
                  margin-top: 4px;
                  padding: 4px 7px;
                  border-radius: 4px;
                  height: 100%;
                  overflow: hidden;
              }

              .frame-button {
                margin-top: 10px;
              }

              .frame-art {
                margin-top: 2px;
                background-color: black;
                border-radius:6px;

                .icon {
                  height: 8em;
                  width: 8em;
                  margin-left: auto;
                  margin-right: auto;
                }

              }

              .button-bar {
                background-color: black;
                border-radius:6px;
                display: flex;
                padding: 8px 10px;
                height: 9em;

                button {
                  flex-grow: 1;
                  margin: 0 10px;
                }
              }

            }

        }

    }

  }

  #report-table {

    .bar {
      border: 1px solid #dddddd;
      display: block;

        .inner {
          border: 0px;
          display: block;
          height: 11px;
          background-color: $fogSelectedZoom;
          filter: sepia(1);
        }

    }
  }

}

.card-image-0 { background-image: url('../images/cards/0.png'); }
.card-image-1 { background-image: url('../images/cards/1.png'); }
.card-image-2 { background-image: url('../images/cards/2.png'); }
.card-image-3 { background-image: url('../images/cards/3.png'); }
.card-image-4 { background-image: url('../images/cards/4.png'); }
.card-image-5 { background-image: url('../images/cards/5.png'); }
.card-image-6 { background-image: url('../images/cards/6.png'); }
.card-image-7 { background-image: url('../images/cards/7.png'); }
.card-image-8 { background-image: url('../images/cards/8.png'); }
.card-image-9 { background-image: url('../images/cards/9.png'); }
.card-image-10 { background-image: url('../images/cards/10.png'); }
.card-image-11 { background-image: url('../images/cards/11.png'); }
.card-image-12 { background-image: url('../images/cards/12.png'); }
.card-image-13 { background-image: url('../images/cards/13.png'); }
.card-image-14 { background-image: url('../images/cards/14.png'); }
.card-image-15 { background-image: url('../images/cards/15.png'); }
.card-image-16 { background-image: url('../images/cards/16.png'); }
.card-image-17 { background-image: url('../images/cards/17.png'); }
.card-image-18 { background-image: url('../images/cards/18.png'); }
.card-image-19 { background-image: url('../images/cards/19.png'); }
.card-image-20 { background-image: url('../images/cards/20.png'); }
.card-image-21 { background-image: url('../images/cards/21.png'); }
.card-image-22 { background-image: url('../images/cards/22.png'); }
.card-image-23 { background-image: url('../images/cards/23.png'); }
.card-image-24 { background-image: url('../images/cards/24.png'); }
.card-image-25 { background-image: url('../images/cards/25.png'); }
.card-image-26 { background-image: url('../images/cards/26.png'); }
.card-image-27 { background-image: url('../images/cards/27.png'); }
.card-image-28 { background-image: url('../images/cards/28.png'); }
.card-image-29 { background-image: url('../images/cards/29.png'); }
.card-image-30 { background-image: url('../images/cards/30.png'); }
.card-image-31 { background-image: url('../images/cards/31.png'); }
.card-image-32 { background-image: url('../images/cards/32.png'); }

.scroll-x {
  overflow-x: scroll;
}






